@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font-family: "Azeret Mono", monospace;
}

header{
width: 100%;
padding: 20px 0;
}
.container{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  }

  .container button{
   background-color: black;
   color: white;
   padding: 10pX;
   border-radius: 06px;
   }

.hero-section{
width: 100%;
background-image: url(./assets/Hero-bg.png);
border: 2px solid red;
height: 652px;
display: flex;
}

.hero-container{
  width: 998px;
  margin:  auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section button{
  background-color: black;
  color: white;
  padding: 10pX;
  border-radius: 06px;
}
.Target{
  width: 946px;
  margin: 0 auto;
}

.html-target{
  border: 2px solid green;
  width: 32%;
}
.targer-top{
  width: 100%;
  text-align: center;
}
.all-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.development{
  width: 1140px;
  display: flex;
  margin: 0 auto;
  padding: 97px;
  margin-top: 97pX;
 border: 2px solid green;
}
.development-one{

}
.development-hader{
text-align: center;
padding: 10px 30px;

}
.development-body{
  width: 1140pX;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.development-button button{
  background-color: black;
  color: white;
  padding: 10pX;
  border-radius: 5px;
}

.video-creator{
 width: 1140px;
height: 775px;
 border: 2px solid red;
 margin: 0 auto;
 margin-top: 40px;
 text-align: center;
}
.video-head{
  padding: 20px;
  margin: 0 auto;
  width: 70%;
}
.video-title iframe{
  width: 1100px;
  height: 585px;
  padding: 20px;
  border-radius: 40px;
}